body{ font-size:12px;}
.btn{ font-size:12px;}
.cb{ clear: both;}
.mt10{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.mt30{ margin-top: 30px;}
a:hover{ text-decoration:none;}
.p0{ padding:0px;}
.pr0{ padding-right: 0px;}
.p3{ padding:0px 3px;}
.p10{ padding: 10px 0px;}
.p8{ padding: 0px 8px;}
.fl{  float:left;}
.fr{ float:right;}
.fa_icon{ font-size:1.5rem;}
.color_red{ font-style: normal; color: #ff0000;}
ul,li{  list-style: none; margin: 0}
.cb{ clear: both;}

.page-header{ background:#004e90; margin:0px; border:none;}
.row{ margin:0px;}
.fa-power-off:before{ color:#fff;}
/*.form-horizontal .form-group{ margin:0px; }*/
.search_btn{ display:inline-block; text-align:center; border:1px solid #085da5; color:#085da5; border-radius:3px; line-height:30px;  padding-left:3px;}
.search_btn1{ display:inline-block; text-align:center; background: #1b5a7a; color:#fff; border-radius:3px; line-height:30px;  padding-left:3px;}
.search_tex{ display:inline-block; line-height:30px;}

.radar_w{
    width: 40%;
}
.w80{
    width: 79%;
}
.w20{
    width: 21%;
}

body{
    margin: 0px;
}
.bg_blue{
    background: #f8f9fb;
}
.bg-purple {
    background: #f8f9fb;
}
.bg-green {
    background: #f8f9fb;
}
.warp {
    min-height: 100%;
    width: 100%;
    overflow: auto;
}

.body_bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #d9edf7;
}
/* PAGE HEADER*/
/*================================================*/
.page-header {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
}
/* STYLE - FIXED*/
/*================================================*/
@media only screen and (min-width: 768px) {
    html.fixed .page-header {
        position: fixed;
        z-index: 1035;
    }
}
.tab_my{
     width: 40%;
     position: absolute;
     z-index: 99;
     right: 10px;
    margin-top: 3px;
}
.tab_my ul li{
     width: 50%;
     float: left;
     line-height: 35px;
     background: #f3f3f3;
}
.tab_my ul li a{
     display: block;
     width: 100%;
     line-height: 35px;
     text-align: center;
     font-size: 14px;
    color: #333;
     text-decoration: none;
}
.tab_my ul li a.a_hover{
     background: #085da5;
     color: #fff;
}
/* PAGE HEADER */
/*================================================*/
.page-header {
    background: #003366;
    color: #ffffff;
}
.page-header .leftside-header {
    display: inline-block;
}
.page-header .leftside-header .logo {
    width: 98px;
    height: 23px;
    position: relative;
    float: left;
    margin: 13px 0px 8px 20px;
}
.page-header .leftside-header .logo img {
    width: 100%;
}
.check_logo{
    width: 100%;
    min-height: 100px;
    background: #336699;
    padding: 10px 0px;
    margin-bottom: 5px;
}
.check_logo ul li {
    float: left;
    width: 50%;
    height: auto;
}

.check_logo ul li a img:hover,.check_logo ul li a img.a_hover{
    border: 2px solid #fff;
}
.check_logo ul li img{
    width: 100%;
}
.page-header .leftside-header .toggle-left-sidebar {
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 10px;
    font-size: 18px;
    font-size: 1.38462rem;
    cursor: pointer;
}
.page-header .rightside-header {
    float: right;
    height: 50px;
    margin-right: 5px;
}
.page-header .rightside-header .down,.page-header .rightside-header .out,.page-header .rightside-header .search{
    display:inline-block;
    margin-right:10px;
}
.page-header .rightside-header span.number{
    display: inline-block;
    width:18px;
    height:14px;
    line-height:14px;
    background:#e2971f;
    text-align:center;
    font-size:12px;
    border-radius:20px; }
.page-header .rightside-header .header-middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.page-header .rightside-header .header-separator {
    border-left: 1px solid rgba(20, 128, 192, 0.46);
    height: 20px;
    width: 1px;
    margin: 0px 5px;
    display: inline-block;
    vertical-align: middle;
}
.page-header .rightside-header .header-section {
    display: inline-block;
    padding: 0px 4px;
    vertical-align: middle;
}
.page-header .rightside-header .header-section .log-out {
    color: #0085f6;
    font-size: 22px;
    font-size: 1.69231rem;
    line-height: 22px;
    line-height: 1.69231rem;
    padding: 3px;
    cursor: pointer;
}
.page-header .rightside-header .header-section .log-out:hover {
    color: #ffffff;
}
.page-header .dropdown-box {
    background: #ffffff;
    color: #404040;
    position: absolute;
    display: none;
    z-index: 1000;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 2px 4px 0px rgba(32, 32, 32, 0.7);
}
.page-header .dropdown-box:before {
    font-family: 'FontAwesome';
    font-size: 18px;
    font-size: 1.38462rem;
    content: '\f0d8 ';
    color: #ffffff;
    position: absolute;
    top: -16px;
    right: 8px;
}
.page-header .dropdown-box .drop-header {
    padding: 6px 10px;
    height: 40px;
    background: #ffffff;
    border-bottom: 2px solid #ececec;
    color: #000000;
}
.page-header .dropdown-box .drop-header h3 {
    display: inline-block;
    font-size: 15px;
    margin: 5px 0px;
}
.page-header .dropdown-box .drop-header h3 i {
    margin-right: 6px;
    color: #004E90;
}
.page-header .dropdown-box .drop-header span.badge {
    float: right;
    margin-top: 4px;
}
.page-header .dropdown-box .drop-content.basic {
    text-align: left;
}
.page-header .dropdown-box .drop-content.basic ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.page-header .dropdown-box .drop-content.basic ul li {
    cursor: pointer;
    border-bottom: 1px solid #ececec;
    color: #202020;
}
.page-header .dropdown-box .drop-content.basic ul li:last-child {
    border: none;
}
.page-header .dropdown-box .drop-content.basic ul li i {
    margin-right: 6px;
}
.page-header .dropdown-box .drop-content.basic ul li a {
    display: block;
    padding: 6px 10px;
    color: #202020 !important;
}
.page-header .dropdown-box .drop-content.basic ul li:hover {
    background: #f7f7f7;
    font-weight: bold;
}
.page-header .dropdown-box .drop-content.basic ul li:hover i {
    color: #004E90;
}
.page-header .dropdown-box .drop-footer {
    padding: 5px;
    text-align: center;
    background: #f2f2f2;
}
.page-header .dropdown-box .drop-footer h3,
.page-header .dropdown-box .drop-footer a {
    cursor: pointer;
    color: #999999;
    margin: 3px 0px;
    font-size: 12px;
    font-size: 0.92308rem;
    line-height: 12px;
    line-height: 0.92308rem;
}
.page-header .dropdown-box .drop-footer h3:hover,
.page-header .dropdown-box .drop-footer a:hover {
    font-weight: bold;
}
.page-header #user-headerbox {
    /*cursor: pointer;*/
    position: relative;
}
.page-header #user-headerbox .user-header-wrap .user-photo {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
}
.page-header #user-headerbox .user-header-wrap .user-photo img {
    width: 100%;
}
.page-header #user-headerbox .user-header-wrap .user-info {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
    margin-top: 16px;
}
.page-header #user-headerbox .user-header-wrap .user-info span {
    display: block;
    font-weight: bold;
}
.page-header #user-headerbox .user-header-wrap .user-info span.user-name {
    color: #ffffff;
    font-size: 15px;
    font-size: 1.15385rem;
    line-height: 18px;
    line-height: 1.38462rem;
}
.page-header #user-headerbox .user-header-wrap .user-info span.user-profile {
    color: #fff;
    font-size: 11px;
    font-size: 0.84615rem;
    line-height: 14px;
    line-height: 1.07692rem;
}
.page-header #user-headerbox .user-header-wrap > i {
    color: #ffffff;
    padding: 10px 0px 10px 10px;
    font-size: 11px;
    font-size: 0.84615rem;
}
.page-header #user-headerbox .user-header-wrap > i.icon-close {
    display: none;
}
.page-header #user-headerbox.open i.icon-close {
    display: inline-block;
}
.page-header #user-headerbox.open i.icon-open {
    display: none;
}
.page-header #user-headerbox .dropdown-box {
    display: none;
    width: 100%;
    margin-top: -1px;
    border: 1px solid #e8e8e8;
    min-width: 160px;
    right: -10px;
}
.page-header #notice-headerbox .notice {
    margin: 0px 5px;
    display: inline-block;
    position: relative;
}
.page-header #notice-headerbox .notice > i {
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-size: 1.5rem;
    padding: 5px;
}
.page-header #notice-headerbox .notice > i:hover {
    color: #006ac3;
}
.page-header #notice-headerbox .notice.open > i {
    color: #0077dd;
}
.page-header #notice-headerbox .notice .dropdown-box {
    width: 250px;
    right: 0;
    margin-top: 11px;
}
.page-header #notice-headerbox #alerts-notice .drop-header,
.page-header #notice-headerbox #checklist-notice .drop-header,
.page-header #notice-headerbox #messages-notice .drop-header {
    background: #ffffff;
    color: #000000;
    border-bottom: 1px solid #006ac3;
}
.page-header #notice-headerbox #alerts-notice .drop-header i,
.page-header #notice-headerbox #checklist-notice .drop-header i,
.page-header #notice-headerbox #messages-notice .drop-header i {
    color: #002d53;
}
.page-header #search-headerbox {
    color: #ffffff !important;
}
.page-header #search-headerbox #search {
    display: none;
    border: 1px solid rgba(255, 255, 255, 0.4902);
    padding: 2px 5px;
    background: none !important;
}
.page-header #search-headerbox #search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
.page-header #search-headerbox #search:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.8);
}
.page-header #search-headerbox #search::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.8);
}
.page-header #search-headerbox #search:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
.page-header #search-headerbox #search:focus {
    outline: none !important;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.page-header #search-headerbox .search {

    color: #ffffff;
    margin-left: 5px;
    cursor: pointer;

}

@media only screen and (max-width: 767px) {
    .page-header {
        background: none;
        height: auto;
        position: static;
    }
    .page-header .leftside-header {
        position: fixed;
        background: #003867;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1035;
    }
    .page-header .rightside-header {
        background: #004E90;
        float: none !important;
        margin-top: 50px;
        width: 100%;
        text-align: right;
    }
}

html.fixed .left-sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 50px;
    top: 50px;
}
html.fixed .left-sidebar .nano-content {
    padding-bottom: 100px;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.page-body {
    display: block;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top:50px;
}
.page_body_head{
    display: block;
    min-height: 638px;
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
}
/* LEFT SIDEBAR*/
/*================================================*/
.left-sidebar {
    background: #336699;
    color: #ffffff;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}
.left-sidebar .nano {
    background: #336699;
}
.left-sidebar .left-sidebar-header {
    position: relative;
    height: 40px;
    background: #336699;
}
.left-sidebar .left-sidebar-header .left-sidebar-title {
    padding: 10px;
    font-size: 10px;
    color: #006ac3;
    font-weight: bold;
    height: 40px;
    margin-right: 60px;
    -webkit-transition-property: margin;
    -moz-transition-property: margin;
    transition-property: margin;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.left-sidebar .left-sidebar-header .left-sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.left-sidebar .left-sidebar-header .left-sidebar-toggle i {
    font-size: 20px;
    line-height: 40px;
}
.left-sidebar .left-sidebar-header .left-sidebar-toggle i:hover {
    color: #cccccc;
}

@media only screen and (max-width: 768px) {
    .left-sidebar .left-sidebar-header {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    html.left-sidebar-collapsed .left-sidebar-title {
        opacity: 0;
    }
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* LEFT SIDEBAR NAVIGATION*/
/*================================================*/
.c-hamburger span {
    display: block;
    position: absolute;
    top: 18.5px;
    left: 18px;
    right: 18px;
    height: 3px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}
.c-hamburger--htla span {
    transition: transform 0.5s;
}

.c-hamburger--htla span::before {
    transform-origin: top right;
    transition: transform 0.5s, width 0.5s, top 0.5s;
}

.c-hamburger--htla span::after {
    transform-origin: bottom right;
    transition: transform 0.5s, width 0.5s, bottom 0.5s;
}

.c-hamburger--htla span {
    transform: rotate(180deg);
}

.c-hamburger--htla span::before,
.c-hamburger--htla span::after {
    width: 50%;
}

.c-hamburger--htla span::before {
    top: 0;
    transform: translateX(15px) translateY(1.5px) rotate(45deg);
}

.c-hamburger--htla span::after {
    bottom: 0;
    transform: translateX(15px) translateY(-1.5px) rotate(-45deg);
}

/*==========================调用次数======================*/
.chart_l{
    height: 100%;
}
.chart_time img,.relation_data img{
    width: 100%;
}
.chart_time,.top_10{
    border-bottom: 1px solid #999;
    background: #fff;
}
.relation_data_t{
    padding: 1.9% 8px;
    background: #fff;
}
.relation_data_t ul li{
    float: left;
}
.relation_data_t ul li span{
    display: block;
    float: left;
    font-size: 2rem;
    line-height: 25px;
    font-weight: bold;

}
.relation_data_t ul li span em{
    display: block;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
}

.list_r{

}
.list_r ul li span{
    display: block;
    font-size: 2rem;
}
.list_r ul li em{
    display: block;
    font-size: 1.3rem;
    font-style: normal;
     margin-bottom: -5px;
}
.list_r ul li.blue_line{
    border-left: 10px solid #04a3f5;
    border-right: 10px solid #aaa9a9;
}
.list_r ul li.green_line{
    border-left: 10px solid #17cdaa;
    border-right: 10px solid #aaa9a9;
}
.list_r ul li.purple_line{
    border-left: 10px solid #a387d3;
    border-right: 10px solid #aaa9a9;
}
.list_r ul li.red_line{
    border-left: 10px solid #d38892;
    border-right: 10px solid #aaa9a9;
}


/* suspend */
.suspend {width:175px;height:325px;position:fixed;top:200px;right:0;overflow:hidden;z-index:9999;}
.suspend dl {width:120px;height:325px;border-radius:25px 0 0 25px;padding-left:40px;box-shadow:0 0 5px #e4e8ec;}
.suspend dl dt {width:175px;height:325px;background:url(../images/suspend.png);position:absolute;top:0;left:0;cursor:pointer;}
.suspend dl dd.suspend_r{ margin-left:135px;width:220px;height:325px;background:#ffffff;}
.suspend dl dd.suspendQQ {width:120px;height:85px;background:#ffffff;}
.suspend dl dd.suspendQQ a {width:120px;height:85px;display:block;background:url(../images/suspend.png) -40px 0;overflow:hidden;}
.suspend dl dd.suspendTel {width:120px;height:112px;background:#ffffff;border-top:1px solid #e4e8ec;}
.suspend dl dd.suspendTel a {width:120px;height:112px;display:block;background:url(../images/suspend.png) -40px -86px;overflow:hidden;}
* html .suspend {position:absolute;left:expression(eval(document.documentElement.scrollRight));top:expression(eval(document.documentElement.scrollTop+200))}


/* 平板电脑和小屏电脑之间的分辨率 */
@media (max-width: 1200px) {
    .totalAssetsBox {width:100%;margin:auto;}
    .totalAssetsWallet {margin-left:10px;}
    .totalAssetsWallet li.mo2 {display:none;}
    .totalAssetsSerive {margin-right:10px;}
}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 800px) {
    .totalAssetsWallet li.mo1 {display:none;}
}

.main-page .nav li.on{background:#e3e3e3; }
.main-page .content{position:relative;width:220px;height:325px;padding:10px;overflow:hidden;}
.main-page .content div{width:220px;height:325px;background:#fff;}
.main-page .content div a{
    display: block;
    line-height: 25px;
    color: #333;
}
.main-page .content div a:hover{
    color: #04a3f5;
}

.content3{width:100%;}
.filterinput{
    background-color:rgba(102, 165, 174, 0);
    border-radius:15px;
    width:90%;
    height:30px;
    border:thin solid #FFF;
    text-indent:0.5em;
    font-weight:bold;
    color:#FFF;
}
#demo-list a{
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    width:100%;
     padding: 8px 0px;
}
#demo-list a span{
    display: inline-block;
    padding-left: 30px;
    font-size: 14px;
    line-height: 16px;
    width:85%
}
#demo-list a span em{
    font-style: normal;
    font-size: 20px;

}
#demo-list a span img{
     margin-left: 10px;
     margin-top: -3px;
}

/*@-webkit-keyframes twinkling{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}*/
@keyframes blink{
    0% {opacity: 1;}
    50%{opacity: 1;}
    50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
    100%{opacity: 0;}
}
/* 添加兼容性前缀 */
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

#my_infor,#my_trouble {
    /*-webkit-animation: twinkling 1.5s infinite ease-in-out;*/

    animation: blink .95s linear infinite;
    -webkit-animation: blink .95s linear infinite;
    -moz-animation: blink .95s linear infinite;
    -ms-animation: blink .95s linear infinite;
    -o-animation: blink .95s linear infinite;
}
/*------ 数据图表年-月------ */

.time_color{
     position: absolute;
     width: 100%;
     z-index: 999;
     left: 56%;
     top: 0.5%;
 }
.time_color1{
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 56%;
    top: 34%;
}
.time_color2{
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 56%;
    top: 67.5%;
}
.time_color3{
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 56%;
    top: 50.5%;
}
.time_color ul li,.time_color1 ul li,.time_color2 ul li,.time_color3 ul li{
    float: left;
    margin-right: -1px;
}
.time_color ul li span, .time_color1 ul li span, .time_color2 ul li span,.time_color3 ul li span{
     display: inline-block;
     width: 30px;
     height: 20px;
     background: #fff;
     border: 1px solid #66a5ae;
     color: #333;
      line-height: 19px;
     text-align: center ;
    cursor: pointer;
}
.time_color ul li span.a_hover,.time_color1 ul li span.a_hover,.time_color2 ul li span.a_hover,.time_color3 ul li span.a_hover{
    background: #66a5ae;
    color: #fff;
}

/*------ input详情条件说明------ */

.instruction_t{
     padding-left: 5px;
}
.instruction_box{
     position: relative;
}
.instruction_box a .carryOut{
     position: absolute;
     left:30px;
     top: -5px;
     display: none;
     min-width: 950px;
     height: auto;
     line-height: 20px;
     padding: 10px;
     background: #fff;
     border: 1px solid #e3e3e3;
     border-radius: 5px;
     z-index: 99999;
     font-size: 12px;

}
.instruction_box a .carryOut:before{
    font-family: 'FontAwesome';
    content: "\f0d9";
     color: #e3e3e3;
     font-size: 16px;
     position: absolute;
     top: 10px;
     left: -6px;
      text-align: center;
}
.instruction_box a:hover .carryOut{
     display: block;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}
