/**************新增服务修改样式*****************/
.title_h3{
    background: #1b5a7a;
    line-height: 30px;
}
.title_h3 .monitor_service{
    display: block;
    background: url("../images/icon01.png") no-repeat center 15px;
    line-height: 40px;
    color: #fff;
    padding-top:40px;
    text-align: center;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #1b5a7a;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.title_bg{
    line-height: 32px;
     height: 32px;
    background: #f3f3f3;
    width: 100%;
    font-size: 14px;
    padding:0px  10px;
    border: 1px solid #e3e3e3;
     margin-bottom: 10px;
}
.title_service{
     display: block;
     line-height: 30px;
    background: #f3f3f3;
    width: 100%;
    font-size: 14px;
    padding:0px  10px;
    border: 1px solid #e3e3e3;
}

.title_service1{
    font-size: 14px;
    display: block;
    padding: 0px 10px;
    line-height: 32px;
    margin: 0px;
}
.tab_service tr td{
    border-top: none;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    padding: 5px 0px;
    line-height: 40px;
}
.monitor_service_tilte,.monitor_api_tilte{
    position: relative;
}
.monitor_service_tilte h3{
    display: block;
    line-height: 30px;
    background: #f3f3f3;
    width: 100%;
    font-size: 14px;
    padding:0px  10px;
    border: 1px solid #e3e3e3;
}
.monitor_api_tilte h3{
    display: block;
    line-height: 30px;
    background: #f3f3f3;
    width: 100%;
    font-size: 14px;
    padding:0px  10px;
    border: 1px solid #e3e3e3;
    margin-bottom:0px;
}
.left_line{
    display: block;
    position: absolute;
    width: 3px;
    height: 32px;
    top: 0px;
    left: 15px;
    overflow: hidden;
    background: #054a7e;
}
.api_left_line{
    display: block;
    position: absolute;
    width: 4px;
    height: 31px;
    top: 0px;
    left: -1px;
    overflow: hidden;
    background: #778;
}
.add_btn{
    display: block;
    font-size: 12px;
    color: #fff;
    background: #66a5ae;
    line-height: 27px;
    text-align: center;
    border: none;
    padding:0px 15px;
}

.info {
    position:relative;
    color:#666;
    text-decoration:none;
    border:none;
    background-color: inherit;
    min-width:0px;
    padding:0px 5px;
}
.info span {
    display: none
}
.info:hover{
    color: inherit;
    border:none;
    background-color: inherit;
}
    /*.info:hover span {
        display:block;
        position:absolute;
        z-index: 99;
        top:30px;
        width:80px;
        border:1px solid #e3e3e3;
        border-radius: 3px;
        background:#a7c6de;
        line-height: 25px;
        color:#fff;
        padding:0px 5px;
        text-align:center;
    }*/
/*************带背景色按钮*****************/
.btn_pre{
    background: #d28a71;
    color: #fff;


}
.btn_cancel{
    background: #4a566e;
    color: #fff;


}

/*************边框按钮*****************/
/*.btn_pre1{*/
/*background:none;*/
/*border: 1px solid #d28a71;*/
/*color: #d28a71;*/
/*}*/
/*.btn_cancel1{*/
/*background:none;*/
/*border: 1px solid #4a566e;*/
/*color: #4a566e;*/
/*}*/
/*.fa_icon_pink{*/
/*color: #d28a71;*/
/*}*/
/*.fa_icon_blue{*/
/*color: #4a566e;*/
/*}*/


/*************新增告警样式*****************/

.title_h3 .target_type{
    display: block;
    background: url("../images/icon02.png") no-repeat center 15px;
    background-size: 30px;
    line-height: 40px;
    color: #fff;
    padding-top:40px;
    text-align: center;
}
.title1_h3 .alert-message{
    display: block;
    background: url("../images/icon03.png") no-repeat center 15px;
    background-size: 30px;
    line-height: 40px;
    color: #fff;
    padding-top:40px;
    text-align: center;
}

.title1_h3{ background: #d28a71}
.radio_input{
    line-height: 30px;
}

.title1_h3 .Task_information{
    display: block;
    background: url("../images/icon04.png") no-repeat center 40px;
    background-size: 30px;
    line-height: 50px;
    color: #fff;
    padding-top:75px;
    text-align: center;
}
.btn_pre_1{
    background: #b03c49;
    color: #fff;
}
.Advanced_configuration ul li{
    line-height: 40px;
    background: #f3f3f3;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin-right: 10px;

}
.Advanced_configuration ul li a{
    display: block;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #04a3f5;
}
.advanced_img{
    float: left;
    margin-left: 33%;
}
.advanced_img img{
    width: 25px;
    margin-right: 10px;
}